* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body {
    /* width: 100%;
    height: 100vh; */
    display: flex;
    justify-content: center;
    /* background-color: #191940;
    overflow: hidden; */
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 360px;
    height: 100vh;
    position: fixed;
    z-index: 999;
}

.balls {
    display: flex;
    height: 100%;
    width: 100%;
    position: absolute;
}

.ball {
    position: absolute;
    top: -50px;
    width: 50px;
    height: 50px;
    background: peru;
    border-radius: 50%;
    margin: 0 20px;
    animation: ball 2s infinite;
}

.ball1 {
    background-image: linear-gradient(to bottom, #FFE93E, #FF952A);
}

.ball2 {
    background-image: linear-gradient(to bottom, #FF009E, #FF0038);
}

.ball3 {
    background-image: linear-gradient(to bottom, #00F4FE, #00BDFB);
}

.ball4 {
    background-image: linear-gradient(to bottom, #FC00F9, #B500F9);
}

.balls1 .ball1 {
    left: 20px;
    animation-delay: 0;
}

.balls1 .ball2 {
    left: 100px;
    animation-delay: .05s;
}

.balls1 .ball3 {
    left: 180px;
    animation-delay: .1s;
}

.balls1 .ball4 {
    left: 260px;
    animation-delay: .15s;
}

.balls2 .ball1 {
    left: 20px;
    animation-delay: 2s;
}

.balls2 .ball2 {
    left: 100px;
    animation-delay: 2.05s;
}

.balls2 .ball3 {
    left: 180px;
    animation-delay: 2.1s;
}

.balls2 .ball4 {
    left: 260px;
    animation-delay: 2.15s;
}

@keyframes ball {
    0%, 25% {
        top: -50px;
    }

    35% {
        top: calc(60% - 50px);
    }

    40% {
        top: calc(45% - 50px);
    }

    45% {
        top: calc(55% - 50px);
    }

    50%, 70% {
        top: calc(50% - 25px);
    }

    80%, 100% {
        top: 100%;
    }
}